h1 {color: rgb(0,0,255);}
h2 {}
p {}
table { }
th {background-color: red;}
 td {         border: 2px solid black;
                padding: 15px;
    margin: auto;
    text-align: center;}


img {height: 250px;}
