:root {
--bg-color: #C2E5FF;
--header-color: #FFB520;
--font-color: #3A00A7;
}

body {
   background-color: var(--bg-color);
}

h1, h2 {
color: var(--header-color);
    font-size: 9vw;
}

p {
color: var(--font-color);
   text-align: justify;
   text-align-last: left;
    font-size: 9vw;
}
img {
  border-radius: 8px;
  height: 8vh;
}
