td { border: 1px solid black;}
th,table { border: 3px solid black;}
table { border-collapse: collapse;
       color: blue;}
td, th { padding-left: 10px;
       padding-right: 10px;}
td a{color: red;}
#testing{color: green;}
.rowheader{color: purple;}
:hover {color: orange;}
