:root {
--bg-color: #C2E5FF;
--header-color: #FFB520;
--font-color: #3A00A7;
--red: #8B0000;
}

body {
   background-color: var(--bg-color);
   font-size: 3vw;
}

h1 {
color: var(--header-color);
      font-size: 9vw;
}
h2 {
color: var(--red);
   font-size: 6vw;
}

p {
color: var(--red);
   text-align: justify;
   text-align-last: left;
}

img {
  border-radius: 8vw;
}

nav{
    border: 7vw var(--header-color) solid;
}

section
{
    border: 5vw var(--header-color) solid;
    margin: 5vw;
    margin-top: 50vw;
}
.date
{
    color: var(--header-color);
}
ul
{
    list-style: none;
    padding-left: 0vw;
}
