:root {
--bg-color: #C2E5FF;
--header-color: #FFB520;
--font-color: #3A00A7;
--red: #8B0000;
}

body {
   background-color: var(--bg-color);
}

h1 {
color: var(--header-color);
      font-size: 9vw;
}
h2 {
color: var(--red);
}

p {
color: var(--red);
   text-align: justify;
   text-align-last: left;
}

img {
  border-radius: 8px;
}

nav{
    border: 7px var(--header-color) solid;
}

section
{
    border: 5px var(--header-color) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--header-color);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
